---
import type { ClientEntry } from "../data/clientStrip";
import ClientStripLogo from "./ClientStripLogo.astro";

interface Props {
	clients: ClientEntry[];
}

const { clients } = Astro.props;
---

<div class="client-strip__track-inner">
	<div class="client-strip__segment">
		{clients.map((c) => <ClientStripLogo client={c} />)}
	</div>
	<div class="client-strip__segment client-strip__segment--duplicate">
		{clients.map((c) => <ClientStripLogo client={c} />)}
	</div>
</div>

<style>
	.client-strip__track-inner {
		display: flex;
		width: max-content;
		flex-wrap: nowrap;
		gap: 0;
	}

	.client-strip__segment {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-auto-flow: column;
		flex-shrink: 0;
		align-items: center;
		justify-items: center;
		column-gap: 2.5rem;
		row-gap: 2rem;
	}

	.client-strip__segment--duplicate {
		padding-left: 2.5rem;
	}

	@media (min-width: 768px) {
		.client-strip__segment {
			grid-template-rows: 1fr;
			column-gap: 3.5rem;
			row-gap: 0;
		}

		.client-strip__segment--duplicate {
			padding-left: 3.5rem;
		}
	}
</style>
